[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "kcp"]
	path = kcp
	url = https://github.com/skywind3000/kcp
